[2019-03-11 14:35] mikerourke opened #1 "Add Multi-User Workflow"
## Overview
Users need the ability to transfer entries for organizations/accounts with multiple users.

[2019-03-11 14:36] mikerourke opened #2 "Add Time Entry Transfer Logic"
## Overview
In order to complete transfer functionality, need to add the logic to transfer time entries. If possible, prevent duplicate entries on Clockify.

[2019-03-11 14:36] mikerourke opened #3 "Deprecate toggl-to-clockify CLI Tool"

[2019-03-11 14:41] mikerourke commented on #1
@malizmaj @igryski @ethanclarke @cobuscoetsee I wanted to include you on this issue and provide a quick update. I was able to chip away at the web version this weekend and am getting close to a published release. There are some challenges associated with the multi-user transfer that I documented on the linked wiki page in the issue.

@ethanclarke and @cobuscoetsee, how heavily do you utilize the *

[2019-03-11 15:50] ethanclarke commented on #1
We're not using the groups feature. There aren't enough of us for that to be worthwhile. For our purposes, it would be fine to simply assign users on a project by project basis and leave it at that.
Thanks for the update!

[2019-03-13 02:46] mikerourke commented on #1
Good to know. I think I’m going to skip groups for now and add them at a later date. All that’s left is time entries transfer and it’ll be good to go.

[2019-03-17 21:56] 908E commented on #1
Same comment here. We don't use groups either.

Let me know if you need another tester. I have entries from both active and inactive users back to 2012.

Thanks again for your hard work.

[2019-04-10 09:04] ghost opened #4 "An error occurred when making a request to the API"
Hi Mike!

I'm just testing your tool because we want to switch from toggl to clockify. Great Work!

But I have problems to fetch projects, tasks and time entries. While the fetching process is running the error message "An error occurred when making a request to the API" pops up and the tool just finds tags and clients.

Is this a bug or do I have made something wrong?

![toggl-clockify](https://u

[2019-04-11 22:47] mikerourke commented on #4
I suspect it may have to do with it being a mutli-user environment. I’m finishing up the time entry transfer stuff tomorrow (it’s not working right now), then pushing it up to Netlify or Surge so I can have a few interested parties test it. It may not be ready for multi-user out of the gate, but it’s a very high priority, so I’m going to work on it right away while having people test out the singl

[2019-04-12 06:21] ghost commented on #4
That sounds great!
Thank you

[2019-04-13 03:49] mikerourke commented on #4
Hey @niggoledde, just an FYI, I got a little swamped with work today so I didn’t get as much time as I needed to finish up the time entry stuff, but I’ve got most of Sunday to knock it out. I can send you the link to the tool when it’s ready if you wanted to try transferring just your entries.

[2019-04-15 06:50] ghost commented on #4
Hi Mike! Thanks for the update!
Please send me the link I would be happy to test your tool and give feedback!

[2019-04-17 13:53] hernanpuente commented on #4
I can help with testing as well! I need to move 5 years of time entries from Toggl to Clockify :)

[2019-04-19 09:16] ulfgebhardt opened #5 "[Bug] Years are not correctly detected"
Years are not correctly detected; the web interface shows only `2019` even tho there is entries from 2018.

[2019-04-19 09:18] ulfgebhardt opened #6 "[Bug] Duplicates are created when importing twice"
Duplicates are created when importing twice - there should be an option to crosscheck if the entry is already present - or (preferable) a tool which detects duplicates and gives the option to remove them.
-> It might be wise to add tags to transfered time entries

[2019-04-19 09:24] ulfgebhardt opened #7 "[Feature] Delete all Timeentries"
It would be a very helpful functionality to delete all time entries.

Consider this:
- User wants to transfer toggl -> clockify
- An Error occurs or he makes an mistake
- Broken/Wrong/Incomplete time entries are present in Clockify
- User wants to clean Clockify in oder to do the transfereprocess correctly.

[2019-04-19 12:03] mikerourke commented on #6
I started working on this but didn’t want it to hold up the initial release (which I was aiming for Monday). It’s going to require some complex logic to prevent duplicate entries. In the interim, I can add the delete functionality in pretty quickly. I already have some a script that deletes everything on Clockify (in the /scripts folder). I just need to port it over to TypeScript.

[2019-04-19 12:05] mikerourke commented on #5
I’ll take a look. I know that the code I wrote to check the years was prone to issues. There’s probably a much better approach.

[2019-04-19 12:09] mikerourke commented on #7
See #6. I agree with adding this in, but I prefer that this tool have a limited feature set. First and foremost, it is intended to transfer data. If I start adding too many bells and whistles, it could get out of hand.

[2019-04-19 13:21] igryski commented on #1
Transfer works now accurately for all Toggl entries from multiple-users (we are 4 members), but it assigns them all to one user on Clockify workspace (the one whose API tokens were used in the interface). Any idea how to proceed with sorting these entries to correct users in Clockify workspace?

[2019-04-19 14:34] mikerourke commented on #1
@igryski So it looks like Clockify added the ability to add time entries for another user, but it's a premium feature:
https://clockify.github.io/clockify_api_docs/#operation--workspaces--workspaceId--timeEntries--post--other

I think the way to get around this is to skip the time entry transfer step altogether if you're the one doing the setup. Here's the workflow I was putting together:

1. A us

[2019-04-19 14:47] mikerourke opened #8 "Beta Testing"
## Overview

I'm going to be publishing the web version of this tool next week and I need beta testers. Everyone I mentioned on this issue has either filed issues on the [toggl-to-clockify CLI repo](https://github.com/mikerourke/toggl-to-clockify) or expressed interest in testing. **If you're interested in trying it out, please add a comment and let me know.**

## Disclaimers

There's a few things

[2019-04-19 15:34] hernanpuente commented on #8
Hey, I’m in! Excited

Sent from my iPhone

[2019-04-20 11:21] ulfgebhardt commented on #8
I am in.
I am still evaluating wether I want to switch from toggl -> clockify. Therefore I don't have to care for my Clockify data - which makes me a good test candidate I guess.

[2019-04-20 17:46] ethanclarke commented on #8
I have not yet moved to Clockify so I'm fine with trying this migration with no net. If something goes wrong, I'll just nuke my account and start over! So count me in.

[2019-04-21 16:04] tonivj5 commented on #8
Me too, there isn't any problem :rocket:

[2019-04-21 18:13] Leopere commented on #8
I only had about a weeks worth of time in Toggl so I just moved.

[2019-04-22 07:01] aleksandar-olic commented on #8
No problem, I can go through the transfer to test it a bit once it's live.

Just a heads up, there's a new stable API v1 doc now that's guaranteed not
to change. The previous API doc is still live and fine to use (it's our
working API), but there's no guarantee things won't change. You can find
the new docs here: https://clockify.me/developers-api

On Sun, Apr 21, 2019 at 8:13 PM Leopere <notifica

[2019-04-22 08:18] igryski commented on #8
Of course! :man_technologist:

[2019-04-23 11:22] matheuslimacs commented on #8
Sure, I can help. :)

[2019-04-23 11:33] Coimbra1984 commented on #8
I'll help too of course.

[2019-04-23 15:20] 908E commented on #8
Definitely in for the Beta Test. Thanks!

[2019-04-27 01:47] mikerourke commented on #8
Hey everyone, update time:

I think the app is ready to test, but I ran into a bit of a snag. Toggl disabled their CORS whitelisting back in December, so I can't host the app on Surge or Netlify. The only solution I can think of is to host the app on Digital Ocean or Heroku and run my own Node.js server that acts as the middle man between Toggl and the app.

In the interim, you can run the app loc

[2019-04-27 02:11] hernanpuente commented on #8
Hey Mike! Thanks for sharing.

I ran 'brew install yarn’ and got some warnings:

I didn’t relalize about those warning and just ran 'yarn start:web’, then this happened:

Sorry for sending the whole log, and also sorry if this is basic stuff, I’m tech savvy but not a developer :)

Glad if you can help.

Thanks, H

[2019-04-27 02:21] mikerourke commented on #8
@hernanpuente, mama pajama that is quite the error message! So two things:

1. You don’t have to use Yarn if it gives you that kind of trouble, you can just run `npm install` and `npm run start:web` instead
2. You need to run the yarn (or npm) command inside the repo, so:

`git clone https://github.com/mikerourke/toggl-to-clockify-web.git`

`cd toggl-to-clockify-web && npm install && npm run start

[2019-04-27 02:38] hernanpuente commented on #8
It worked! Thanks, I felt a hacker for a moment :)

I guess this tool is still not ready for me though, as I am an owner/admin of an organization wanting to transfer everything (entries, projects, tags, etc) from Toggl to Clockify.

Should we wait for a new version in the future or is there a workaround to follow?

Best, H

[2019-04-27 03:00] mikerourke commented on #8
Ah dang, hold off for now. I think I’ll re-enable that multi-user mode button and omit the time entry transfer functionality in that mode. That way you could transfer your workspaces, projects, etc. The only caveats would be:

1. Your team needs to have their Clockify accounts set up (and be part of your organization)
2. They’d have to clone this repo and run the tool with their API credentials (i

[2019-04-27 04:53] hernanpuente commented on #8
I follow. As for the caveats, they seems reasonable.

Thanks :)

[2019-04-27 10:30] matheuslimacs commented on #8
I tried these steps, it ran fine until the step 2: enter credentials, I can't get past it because I get the error 'An error occurred when attempting to validate your credentials.' after typing my email and getting toggl and clockify API token. Am I missing a step?

[2019-04-27 11:42] mikerourke commented on #8
@Lucatiel641 could you open the **Network** tab in Chrome Developer Tools and try clicking the Next button again? The failed request should be in red text. I just need to know if it was the Toggl or Clockify request that failed and the error response code (e.g. `404`). Thanks!

[2019-04-27 12:11] matheuslimacs commented on #8
![image](https://user-images.githubusercontent.com/25983521/56849538-0f404c80-68cc-11e9-91f4-355024709327.png)

I got this after clicking Next. Since I closed the git bash window and executed a second time, it said the port 3000 wasn't available and it's using localhost:56087 instead (not sure if this is useful but it's the only thing that changed).

[2019-04-27 12:37] mikerourke commented on #8
The port thing happened because the process didn’t close when you exited git bash, but you can always kill the process manually (or restart your computer).

As far as the API error, I’ll take a look as soon as I can get to my laptop. Did you sign up for Toggl with your Gmail account?

[2019-04-27 12:41] matheuslimacs commented on #8
Oh, nice, didn't know about that.

I have this Toggl account for quite a while, but I'm pretty sure I've created it the usual way (not through the sign up with google button) since I always log in using the email and custom password.

[2019-04-28 01:12] anthonywkchan commented on #1
Hey @mikerourke I found your repo while doing research for migrating from Toggl to Clockify. I'm interested in migrating my entire workspace with about 5 users over and I'd love to help out if you still need testers. So far, I've got the tool running locally, but the Multi-user option is crossed out. Can I help you test that somehow? My account at clockify is a blank slate, so I don't mind transfe

[2019-04-28 13:22] mikerourke commented on #1
@anthonywkchan, I’m definitely planning on adding the multi-user workflow, but I’m currently in the middle of beta testing (sort of) the single user workflow. I’d like to ensure the basic functionality is working before moving onto the multi-user portion. I’m in the midst of a cross-country move right now, but once I get settled, I’m going to knock it out. I’ll keep you posted!

[2019-04-28 13:24] mikerourke commented on #8
@Lucatiel641 I ended up having a longer travel day than expected yesterday so I wasn’t able to follow up on the credentials validation issue, but I should be able to mess around with it tonight. I apologize for the delay. I’ll let you know what I find.

[2019-04-28 13:51] matheuslimacs commented on #8
Sure, no problem at all, thanks! :)

[2019-04-29 16:45] 908E commented on #8
Sorry, fellas. I tried to test but the linux is a little over my head. I was running windows and a terminal but it looks like I may be missing some libraries (or something like that). I'm going to do some learning and see if I can't get things working.

[2019-04-30 00:55] mikerourke commented on #8
@Lucatiel641 so I should have looked at the screenshot a little harder because it looks like you're running the app with the mock server. Could you try starting the app with `yarn start:web` instead of `yarn start` and try again?

[2019-04-30 11:41] matheuslimacs commented on #8
Hey, Mike, I tried both. 'yarn start:web' now returns this error message "An error occurred when making a request to the API". In the page, it's saying that I have no workspaces to import from Toggl at all.

![image](https://user-images.githubusercontent.com/25983521/56959373-9c311300-6b23-11e9-8963-30d0b15c4031.png)
![image](https://user-images.githubusercontent.com/25983521/56959396-a81cd500-6b2

[2019-04-30 21:48] kalebo commented on #8
I can confirm the issues with the api proxy failing when trying to access toggl api endpoints that @Lucatiel641 reported.

From a quick test commit f80ebfe, (i.e., the commit immediately before the mock server was added) seems to be working for the toggl api; however I also get 403 errors when it tries to use the clockify endpoint `https://api.clockify.me/api/users/... `.  More specifically the 40

[2019-04-30 22:28] mikerourke commented on #8
Thanks @kalebo. I’ll update to ensure the mock server isn’t running. I need to update the Clockify endpoints to reflect their V1 API, they added a `/me` endpoint that’s better suited for validating credentials (hopefully that will fix the 403). I’ll let everyone know when the fixes are pushed.

[2019-05-05 23:56] mikerourke commented on #8
Hey everyone, quick update: I think I fixed the local API server issue as well as the Clockify credentials validation issue. Could you try pulling down the latest version and trying it again? I apologize for the delay, it's been a crazy week getting moved into the new place. If it's working now, I can switch focus  to the time entries transfer stuff (preventing duplicate entries), then on to multi

[2019-05-06 00:33] matheuslimacs commented on #8
Hey, Mike!
I just tested, and I was able to pass through that initial error from before, and now it does detect my workspace/projects but no time entries were found to import, is this expected for the time being?

[2019-05-06 01:01] mikerourke commented on #8
That is definitely not expected, let me try running it again on my test account. Are all of your time entries associated with projects?

[2019-05-06 11:18] matheuslimacs commented on #8
Yes, I've organized each time entry to a specific project

[2019-05-06 16:24] kalebo commented on #8
Thanks @mikerourke! It's working great.

[2019-05-12 22:02] mikerourke commented on #8
@Lucatiel641 I tried using my personal and testing Toggl accounts and have not been able to reproduce your issue with no time entries showing up. Could you try going back and forth between the credentials entry page and the Toggl selection page a couple of times to see if you get different results?

[2019-05-12 23:03] matheuslimacs commented on #8
Hey, Mike, thanks, it's working fine now. Just tried going back to the credentials page, and noticed I missed the email field where it had a test@test.com email or something instead of mine from Toggl, my mistake, sorry for the trouble!

[2019-05-12 23:10] mikerourke commented on #8
No problem, I’m just glad I didn’t break something!

[2019-05-16 09:44] julianscheel commented on #8
What's the current state of team imports? I tried running two subsequent imports, the first one properly imported all clients, projects, tags and time entries. The second run for the second user unfortunately did not detect the existing projects, so that all time entries ended up to be created without a project. Should this actually work as of now?

[2019-05-16 10:50] Coimbra1984 commented on #8
@julianscheel we had the same problem in our company. Our company has a few team members, some of which have time entries in toggl, but already left the toggl space. We also had a lot of archived projects in toggl with time entries and so one. The tool unfortunately did not work properly for our multi-user case, so we ended up writing our own migration tool. You can try it: https://github.com/piey

[2019-05-16 11:03] julianscheel commented on #8
@Coimbra1984 Thanks, that looks nice. I'll give it a shot!

[2019-05-16 12:15] ghost commented on #8
Just tested it and it works fine except the task transfer. I see them in the overview but the tasks are not transfered to clockify.

[2019-05-17 01:22] mikerourke commented on #8
I wasn’t able to test tasks since they’re a premium feature in Toggl. Let me review both APIs to make sure everything is up to date.

[2019-05-17 01:26] mikerourke commented on #8
@coimbra1984 Thats awesome! I’ll take a look at how you got it working and try integrating it into my code. I’ll be sure to give you props!!!

[2019-05-23 00:07] hernanpuente commented on #8
Hey @mikerourke the rookie from this list is back with questions :)

I am a bit lost about how to run this tool starting from scratch. Also, is the 'multiple user' migration functionality working at the moment? I mean, can I transfer all the data from a full team or do I need to do it individually user by user?

Thanks :)

[2019-05-24 17:45] mikerourke commented on #8
@hernanpuente The multi-user migration is still in the works. @Coimbra1984 put together a migration tool for multi-user environments, but it's a pure CLI tool, so it might require some configuration: https://github.com/pieye/toggl2clockify.

As far as starting from scratch, you should be able to get it up and running by installing Node.js, downloading the repo from GitHub, and running the followin

[2019-08-09 19:26] michaelsmoody commented on #8
As I wanted this running in a virtual machine, it might be useful to make it work without localhost as a necessity:

`Access to fetch at 'https://www.toggl.com/api/v8/me' from origin 'http://192.168.0.110:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque

[2019-08-13 17:37] mikerourke commented on #8
@michaelsmoody I apologize for the delayed response. Toggl deprecated their CORS whitelist API, so in order to get around CORS, you need to contact Toggl directly to add an IP address to their whitelist. In the interim, it needs to run on `localhost` ☹️

[2019-09-29 20:54] Royedc4 commented on #8
If you are moving on on this, I'm up for testing as well 👍

[2019-10-04 16:22] mikerourke commented on #8
@Royedc4 I've been working on this erratically the last couple of months. If you want to pull down master, run it locally, and try to find some bugs, I'd appreciate it!

[2019-10-24 13:37] paavo opened #12 "Syncing Tasks"
We'd love to have Tasks (related to a Project) synced from Toogl to Clockify.

[2019-10-25 15:31] mikerourke commented on #12
I believe I have it setup for the most part, I'm just unable to test it because I don't have a Toggl premium account (required for tasks). I'll take a look at the code. I've fumbled the ball on keeping the app up to date, so I'm sure there have been API changes since I last worked on it. I'll let you know when I have something ready to test.

[2019-10-28 08:01] paavo commented on #12
Thanks for your work @mikerourke !
Just tell me if you have something to test!

Maybe signing up for a free trial of Toggl helps?

[2020-01-14 02:37] mikerourke commented on #7
Added on #15.

[2020-01-14 02:37] #7 closed

[2020-01-14 02:37] mikerourke commented on #2
Added on #15.

[2020-01-14 02:37] #2 closed

[2020-01-14 02:39] mikerourke commented on #3
Archived repository and update `README.md` a few months ago.

[2020-01-14 02:39] #3 closed

[2020-01-14 02:40] mikerourke opened #16 "Add/Update Redux and Component Tests"

[2020-01-14 02:41] mikerourke opened #17 "Add CI to Prevent Merges on Failed Tests"
- [x] Create GitHub Actions Configuration File
- [x] Add Rules to Ensure Branch Cannot Be Merged if Tests Fail

[2020-01-21 19:13] dahaupt opened #18 "Importing time entries (from toggle) without any assigned project results in error"
I was trying to import my full workspace from Toggl to an existing workspace in Clockify.

Replacing the last line into
[code]
could solve the issue, but as I'm not familiar with the project and TypeScript I have not created a PR yet.

**Stacktrace**:
[code]

[2020-01-21 20:49] CharlieEtienne opened #19 "Cannot read property 'toString' of null"
Hi !

First of all, this project is a great idea!

Using the web interface at https://transfermyti.me, I encouter this error:

The tool find my projects, and clients, but no time entries are found in any of those.

Steps:

1. Select "Transfer from Toggl to Clockify"
2. Enter API Keys
3. Select Workspaces (I only have one)
4. Click next
5. Watch spinner saying it is fetching all sort of things
6. T

[2020-01-21 21:02] mikerourke commented on #19
@CharlieEtienne I suspect theres a property value coming back from the Toggl API as `null` that I'm not validating first. I'll push a fix that does null checks on all values that get converted to strings. Give me about an hour.

[2020-01-21 21:11] CharlieEtienne commented on #19
@mikerourke Awesome!

Indeed, I may have in my toggl account:

- time entries that aren't in any project
- time entries that aren't related to any client or tag
- project without client
- client without project

I'm not sure what tasks are but I have none

Thanks!

[2020-01-21 21:34] mikerourke commented on #19
@CharlieEtienne Fix is deployed! Could you reload the app and try it again to make sure the issue is fixed?

[2020-01-21 21:48] CharlieEtienne commented on #19
@mikerourke I can see my time entries now!
but when I start transfer, it finishes immediately with the success message on the page with the video and my clockify workspace is empty...

But I just realized I didn't verify my email address. I give it another try

[2020-01-21 21:52] CharlieEtienne commented on #19
nope, it didn't transfer anything 😢

[2020-01-21 22:07] mikerourke commented on #19
Is it hanging on the transfer page? I'm trying to do a transfer between my test accounts (from Toggl to Clockify) and so far it has only transferred 1 client in like 3 minutes.

[2020-01-21 22:09] mikerourke commented on #19
Yikes, I just tried making a Clockify request through Postman and it is taking forrreeeverrrr! Maybe try again in an hour or so? I suspect there's something going on with Clockify's servers.

[2020-01-21 22:23] CharlieEtienne commented on #19
I will try tomorrow because in France it's time to bed :)

But I didn't see any progress bar or something. After clicking on start, it instantly displays this page https://transfermyti.me/tool-action-success, like nothing really happened...

[2020-01-21 22:29] mikerourke commented on #19
Keep me posted. I accidentally made a field a string when it should have been a number on the fix I just merged, so creating projects in Clockify was failing. I just pushed a fix and deployed it. I'd suggest using the tool to delete any existing Clockify data (if any) was transferred and giving it another shot. If it still fails, we can take this out of GitHub to see what kind of data you're getti

[2020-01-22 07:35] mikerourke commented on #18
@dahaupt I deployed a fix for this earlier today. Could you try it again and let me know if it’s working now?

[2020-01-22 07:48] CharlieEtienne commented on #19
Hi, it still doesn't work. It has the same behaviour I described above. (no progression and instantly finished)

Another little thing: When you hit Ctrl+Shift+R (refresh and empty cache) on https://transfermyti.me/pick-tool-action page, it shows a Page not Found page. And the Back to our site link doesn't work.

[2020-01-22 10:42] dahaupt commented on #18
@mikerourke I just tested the import again. Seems to work fine now. Thanks a lot for your fast fix!

[2020-01-22 10:42] #18 closed

[2020-01-22 11:26] Ljuk67 opened #22 "Stuck at final step after pressing start - nothing happens"
Hi Mike, great work on this workflow / tool!

I entered the API keys, my data was pulled and shown, I left everyting ticked (included), proceeded to the last step, pressed START and nothing happens for over 20minutes now. the numbers don't change, the start button is blanked out, see https://prnt.sc/qr7u0a

I'm running it on the latest Chrome, the console shows no errors, except an (I guesss unrel

[2020-01-22 15:08] mikerourke commented on #22
@Ljuk67 I was having this issue yesterday as well. I tried making some requests to the Clockify API using a different tool and it was taking forever. I tried it again about an hour later and it worked. Maybe their servers are getting overloaded.

Could you try just transferring everything but your time entries first? If that works, you may have to use the transfer tool a couple of times (depending

[2020-01-22 15:15] mikerourke commented on #19
@CharlieEtienne The back to our site issue is  a Netlify thing I still need to fix. For now, you have to manually navigate back to transfermyti.me. Could you try transferring just Projects or Tags? I’m curious if transferring something not contingent on a project will work.

[2020-01-22 15:33] Ljuk67 commented on #22
Hi Mike, hello Golden Girls! :D

that worked, but after the transfer complete message, I see no toggl tags or clients in clockify? Or any other data I selected to transfer.

I tried twice to be sure, same thing both times. second time, I selected a couple of time entries too.

Strangely, the transfer complete message was shown straight away, no delay / processing whatsoever?

[2020-01-22 15:40] mikerourke commented on #22
Noooo!!! Someone else is having the same issue. Just out of curiosity, are you in France? I’m trying to pin down the cause and I’m beginning to suspect it’s related to internationalization.

[2020-01-22 15:43] CharlieEtienne commented on #19
@mikerourke I unchecked all except projects and the same thing happened, meaning nothing...

[2020-01-22 15:51] mikerourke commented on #19
Could you try just transferring projects again, but before hitting the Start button, open up DevTools and the Network tab? Once you hit Start, you should see a bunch of POST requests. If not, there’s something I screwed up. If you are seeing them, there’s probably something else I screwed up.

[2020-01-22 15:52] Ljuk67 commented on #22
nope, Slovakia.

[2020-01-22 16:09] CharlieEtienne commented on #19
![2020-01-22_17h08_16](https://user-images.githubusercontent.com/9772943/72911118-d4275880-3d39-11ea-906b-7ad3198823ad.png)

No POST requests, that's all I've got

I can give you my api keys in PM if you need them

[2020-01-22 16:13] mikerourke commented on #22
Cool, so it might be an oceanic divide thing. I’m working on fixing the issue now. I’m confident the same thing is happening on #19. I’ll let you know when I find put what’s going on. I’m heading to work now so it may be a few hours until I get back to you. I apologize for the delay (and the issues).

[2020-01-22 16:15] mikerourke commented on #19
That would probably be the quickest route to getting this issue fixed. Could you email them to me at mike.w.rourke@gmail.com?

[2020-01-22 16:30] Ljuk67 commented on #22
cool, no worries, this isn't urgent and you're doing us a big favour, so how ever it suits you ;)

[2020-01-22 17:07] mikerourke commented on #19
@CharlieEtienne!!!! I think I fixed it! The issue was that your Toggl workspace and Clockify workspace names didn't match. I did a test transfer with just clients and it worked! The tool will actually create a Clockify workspace for you (if it doesn't exist). I should probably add a feature to allow a user to map a source workspace to a target workspace.

So right now you have 2 Clockify workspace

[2020-01-22 17:10] mikerourke commented on #22
@Ljuk67 I think I found your issue. It's being caused by the workspace names not matching. So if you have only 1 Toggl workspace named "Toggl Workspace", and 1 Clockify workspace named "Clockify Workspace", the transfer would never take place because it couldn't find a target workspace to transfer data into.

I fixed the code to create a Clockify workspace if it doesn't exist, but if you want to f

[2020-01-22 18:16] Ljuk67 commented on #22
Worked like a treat! Thanks for digging in and finding the real issue, good snooping!
I did it first without time entries, now running time entries, still in progress.

A separate workspace is ok, I want to have it all in one place, the archive is fine in a separate workspace.

The way toggl and clockify generate the workspaces is different (toggl used my email address  (before the @) and clockify

[2020-01-22 18:19] mikerourke commented on #22
Good to hear! There's an open issue that got opened a while ago (#5) that may be causing the date cut off error. I'll try to add some newer time entries to my test instance and see if I can reproduce it. I'm going to create a new issue so I can track it on a separate branch.

[2020-01-22 18:23] mikerourke opened #24 "Not all time entries getting transferred"
## Reported By

@Ljuk67

## Current Behavior

When attempting to transfer entries from **Toggl** to **Clockify**, not all of the time entries are being transferred. Cross referenced from #22:

## Expected Behavior

All time entries should be transferred to Clockify.

## Possible Causes

- API rate limiting
- Date calculations in transfer
- Because it's 2020!?

[2020-01-22 18:35] Ljuk67 commented on #24
I tried running the import again - 1800 time entries were found that weren't yet in the target workspace (clockify). When I imported, an error in a black pop up in the top right corner flashed several times and distorted the screen, but I couldn't read it (too fast). Something with API...

but the import continued to run, reached maybe 2% and flipped to transfer complete page.

There was at least

[2020-01-22 18:37] Ljuk67 commented on #24
the cut off was at May 2017 for me, incomplete month.

[2020-01-22 18:38] mikerourke commented on #24
Thanks! Yeah, I added an arbitrary backoff time that retries a request if it sends back a 429 error (rate limit hit). I'll try bumping that up and seeing if that fixes it. This is purely speculation, but I wonder if Clockify's servers aren't set up to handle this much continuous traffic. The backoff time is a one line of code change. Let me update and re-deploy. Try running the transfer again in a

[2020-01-22 18:41] Ljuk67 commented on #22
Closing this - original issue was fixed, as per https://github.com/mikerourke/transfermyti.me/issues/22#issuecomment-577288674

[2020-01-22 18:41] #22 closed

[2020-01-22 19:01] mikerourke commented on #24
@Ljuk67 FYI, I just pushed a bug fix for an issue I found in the transform method for time entries. It's hard to say if it was causing an error. The deploy finished about 10 minutes ago, so if you tried transferring before that, it may still be failing.

[2020-01-22 19:10] Ljuk67 commented on #24
tried again just now, it failed at about 40/1800, showing this error message:
The following error occurred: Error code 400 when fetching from Clockify API.

[2020-01-22 19:12] Ljuk67 commented on #24
I'm off for today, can continue testing tomorrow...

[2020-01-22 19:12] mikerourke commented on #24
Sounds good. It looks like there are several possible reasons for getting a `400`. I'll try to add checks for all of them and let you know when it's ready. I appreciate your patience, have a good night!

[2020-01-22 21:14] mikerourke commented on #6
This should be done and appears to be working, so I'm closing it.

[2020-01-22 21:14] #6 closed

[2020-01-22 21:27] CharlieEtienne commented on #19
Thanks @mikerourke ! It works like a charm. I buy you a coffee.

[2020-01-22 21:27] #19 closed

[2020-01-22 21:46] mikerourke commented on #19
Awesome, thanks for the coffee!!

[2020-01-23 16:51] mikerourke commented on #24
Hey @Ljuk67, just out of curiousity, are you trying to transfer time entries that are associated with a client, tag, or project that you're **not** transferring? I'm wondering if the issue is caused by trying to associate a time entry with an invalid ID.

[2020-01-31 20:03] mikerourke opened #26 "Unable to Delete Time Entries Not Associated with Project on Clockify"
No time entries are shown for the workspace.

[2020-01-31 20:04] mikerourke opened #27 "Spinning Loader is Sized Incorrectly"

[2020-02-03 05:34] #8 closed

[2020-02-06 15:11] #16 closed

[2020-02-06 15:12] #27 closed

[2020-02-06 22:59] mikerourke commented on #5
Closing this because I haven't encountered this bug with the newly refactored version. If the problem crops up again, I can create a new issue.

[2020-02-06 22:59] #5 closed

[2020-02-06 23:00] mikerourke commented on #4
Closing this because I haven't encountered this bug with the newly refactored version. If the problem crops up again, I can create a new issue.

[2020-02-06 23:00] #4 closed

[2020-02-06 23:02] mikerourke commented on #12
This should work. I added the functionality required to transfer tasks, I'm unable to test because I have a free Toggl membership.

[2020-02-06 23:02] #12 closed

[2020-02-06 23:25] mikerourke commented on #26
It turns out this wasn't actually a bug, I just didn't have any entries on Clockify.

[2020-02-06 23:25] #26 closed

[2020-02-06 23:49] #17 closed

[2020-02-07 19:36] greghessiu opened #30 "When transferring data from Toggl to Clockify entries made by others are added as if I entered them."
I am an admin on the Toggl workspace.  When trying to use the transfer tool it includes entries others on the team made, and when the entries are added to Clockify it is as if I made the entry, not the other person.

I was originally planning to run the tool several times, once per team member to copy the information in.  Is there a way I can only transfer my time entries?

[2020-02-07 23:50] mikerourke commented on #30
Hey @greghessiu, so I did not even think to accommodate for the scenario you are describing. I apologize for fumbling the ball on that one. I’ll update the code to ensure the entries only associated with your user ID are displayed/transferred. It should only take an hour to fix the code but I’m out of town until Sunday. I’ll take care of it Sunday night and ping you when it’s fixed. Sorry for the

[2020-02-09 23:45] #30 closed

[2020-02-09 23:48] mikerourke commented on #30
@greghessiu You should be good to go now. Your best bet would be to delete all of the time entries from Clockify using the tool and trying the transfer again. Let me know if you have any issues, thanks!

[2020-02-10 11:07] greghessiu commented on #30
Thank you!

[2020-02-17 21:21] ricardorover opened #32 "Toggl private projects stop import process"
Hi, thanks for the nice tool!

I noticed when importing projects list from Toggl to Clockify, that if in Toggl there is a project as "Private" and with some users selected to see it, the transfermyti.me tool stops Projects importing due to a "400" response status from Clockify.

I imagine Clockify tries to find the user to add the correct permission aswell, but in my scenario the user does not exi

[2020-02-17 22:45] mikerourke commented on #32
Hi @ricardorover, you're very welcome! I apologize for the issue. I'll try recreating it in my test account and add some accommodations to the code. I started working on adding user/user group transfer to the app, but that'll be tied pretty heavily to organizational/team transfer. I plan on adding that in the future, but it's going to be a pretty massive undertaking, so it's commented out for now.

[2020-02-18 21:34] mikerourke opened #33 "Toggl Time Entries Not Shown"
## Current Behavior
Toggl time entries aren't displayed when attempting bulk deletion.

## Expected Behavior
Users should be able to delete time entries from Toggl.

## Steps to Reproduce

1. Ensure there are time entries on Toggl that aren't associated with a project
2. From the tool, select the option to delete Toggl data
3. Enter the Toggl API key and press Next
4. Expand the **Time Entries** a

[2020-02-18 22:05] mikerourke opened #34 "Cannot Transfer to Toggl"
## Current Behavior
When attempting to transfer Clockify content to Toggl, a 400 error is returned.

## Expected Behavior
The content should be created on Toggl.

## Steps to Reproduce
1. Select the option to transfer from Clockify to Toggl
2. Enter the API keys and press next
3. Select Clients, Tags, and Projects to transfer and press next
4. Start the transfer and confirm in the modal (400 error

[2020-02-18 22:54] mikerourke commented on #32
Hey @ricardorover, so I tried the following and I wasn't able to recreate the error:

1. Created new testing Toggl account with user name: `testmember`
2. Invited `testmember` to my original testing Toggl account (user name: `testing`)
3. Assigned `testmember` to one of my projects as a non-manager (all of my Toggl projects are private)
4. Transferred the project from Toggl to Clockify using trans

[2020-02-18 23:14] #33 closed

[2020-02-18 23:14] #34 closed

[2020-02-20 03:41] ricardorover commented on #32
Hey @mikerourke, thanks for the fast action, and sorry for my delay

I was having a bad time trying to reproduce as well, until I remembered the first tries I was importing several Toggl workspaces at the same time. I believe this caused the problem, because I tried the same operation to a new Clockify account and the error occured.

I copied the request that returned 400 status as cURL:
[code]

R

[2020-02-20 20:13] mikerourke commented on #32
No problem, thanks for getting back to me. So I'm currently not accommodating for the same client/tag/project name existing in 2 workspaces. Right now I just check if the names match and use that for linking. The tool tries using an invalid ID for the workspace and errors out. I'll update the code to ensure the linking is based on the name **and** workspace. I'll let you know when it's fixed. Good

[2020-02-21 04:30] #32 closed

[2020-02-21 04:32] mikerourke commented on #32
FYI, @ricardorover, I believe I fixed the issue on #36. I ran some tests and it looks like everything is working. Let me know if you're still having issues. Thanks!

[2020-03-29 16:26] petero-dk commented on #24
I had the same issue, and I noticed that the transfer was halted just before an entry that had no task and no project:

[code]

Going into toggl and setting a project on this task made the whole thing complete without problems.

[2020-03-30 14:15] mikerourke commented on #24
@petero-dk Thanks for letting me know! That should be a simple fix. I can finally close this issue!

[2020-04-03 01:26] mikerourke commented on #24
Made some minor changes to the new Clockify time entry creation method. I was able to successfully transfer time entries with no project and task from Toggl to Clockify.

[2020-04-15 09:31] alaceyuk commented on #1
Hi @mikerourke appreciate your hard work on this. Any update on how we can get 2 users entries and all the clients/projects into Clockify from toggl? If you have a workflow you need testing, I'm happy to take a stab at it :)

[2020-04-15 15:21] mikerourke commented on #1
@penguinmedia91 It's probably still going to take some time. It's a pretty massive undertaking and my availability is pretty limited right now (although I haven't forgotten about it!) I'll let you know when I have something to test. You could give this tool a try, it requires a little more configuration but it may work for you: https://github.com/pieye/toggl2clockify

[2020-04-16 15:15] alaceyuk commented on #1
@mikerourke No problem :) I tried to get it running with the link provided but frankly, it was beyond my capabilities. I configured the python file correctly but I'm too stupid to get it to run on my Mac.

Thank you for your continued hard work.

[2020-04-17 16:31] FlatBlack722 commented on #24
Hi Mike. First of all, thank you for your effort in creating this tool. Unfortunately, I ran across a problem when I tried to transfer Toggl entries to Clockify. When the transfer starts, it gives me the following error: "Error code 403 when fetching from Clockify API."

In some cases I also get this one as well: "The following error occurred: Error code 400 when fetching from Clockify API. Status

[2020-04-18 15:10] mikerourke commented on #24
Hi @FlattBlack722, did you create a new Clockify account prior to starting the transfer, or did you already have an existing account with data?

[2020-04-18 15:42] FlatBlack722 commented on #24
It's a brand new account. Initially I had some data in it and the transfer
failed. After that I used your tool to delete all entries and then tried
again to transfer enevrything to clockify. Do I also need to delete my
space before doing the transfer, or?

On Sat, Apr 18, 2020, 17:10 Mike Rourke <notifications@github.com> wrote:

[2020-04-18 15:46] mikerourke commented on #24
You shouldn’t need to. I have run into this issue before, but it’s because I deleted a workspace on Clockify through the API, but it’s still hanging around in their database for some reason. Could you try creating a new workspace in Clockify and transferring to it?

[2020-04-18 15:49] FlatBlack722 commented on #24
I will give it a try and let you know. Usually it transfers all the
projects and clients and when it starts copying time entries it copies 50
of them and then it gives an error and says that it's successfully done.
But I will give this a try what you recommend. Thanks Mike 👍

On Sat, Apr 18, 2020, 17:47 Mike Rourke <notifications@github.com> wrote:

[2020-04-18 15:52] mikerourke commented on #24
No problem! The time entry transfer issue may be due to a time entry not being associated with a project or task. If you only have a few time entries not associated with projects, I’d recommend associating them with a project for the transfer. I thought I fixed that issue but apparently it might still be causing an issue.

[2020-04-20 16:52] FlatBlack722 commented on #24
Hi Mike! So I did make some progress. I was able to transfer all of my time
entries to the work space but I had to revert that space to it's original
state (meaning setting everything back to default values eg. currency used,
project creation permissions etc.).

So now I am trying to transfer the time entries of my colleagues and when.
try to do that I get the API 403 error. Is that the error wher

[2020-04-21 20:39] mikerourke commented on #24
Hi @FlattBlack722, so the tool doesn't support transfers for multiple users. Were you using your colleague's API key when you tried making the transfer, or are you trying to transfer their time entries as an administrator (with your API key)?

[2020-04-22 16:45] FlatBlack722 commented on #24
Hi Mike.

Unfortunately I was not able to resolve the problem because indeed I was
trying to transfer entries from multiple accounts. Transferring one account
works, but as soon as I try to transfer another one it does not take into
account projects in the transfer.

Therefore we decided to start from a blank sheet.

Still, your help is much appreciated! Thank you once more :)

On Tue, 21 Apr 2020

[2020-04-26 09:25] Uniquark opened #38 "Not all projects are transferred"
Hi Mike. Thank you for creating this tool. It looks very slick. Unfortunately, it seems to be choking on my Toggl data. I have time entries for seven different people with over 600 clients going back almost five years. I have tried to transfer just my information from Toggl to Clockify twice now with partial success. It seems to have transferred all the clients, but it has only transferred about 6

[2020-04-27 02:20] Uniquark commented on #38
Hi Again. Well, it goes faster at night than during the day. I was finally able to import all 2,200 projects. However, I have now discovered a much more severe problem. When I imported a few time entries (just the 114 from April), they were imported correctly, but they did not connect with any of the projects. I now have almost four weeks of time entries, all without a project. What do I need to d

[2020-04-27 07:01] alaceyuk commented on #38
I don’t want to step on mikes toes here and I’m sure he will respond in due course but I think the core of your issue ‘might’ be that you have more than 1 user.

The platform doesn’t work if you have more than 1 user in Toggl.

[2020-04-27 15:21] mikerourke commented on #38
@Uniquark, unfortunately @penguinmedia91 is correct, you're only able to transfer your own time entries, not other users' time entries. I should probably show that on the first page of the tool. A lot of people have asked for it, so I do plan on adding it. However, it'll take a significant amount of effort to implement. I'd like to start working on it sometime in the next month or two but I'm not

[2020-04-27 17:48] Uniquark commented on #38
Thank you both for your information. I have actually had some success since I last posted to this thread. As I mentioned before, running the tool over and over eventually transferred all my project entries. The next error seems to have been solved by switching from Safari to Chrome. Chrome seems to correctly import all my time entries with the proper connections to the projects. Of course, I have

[2020-04-27 18:25] mikerourke commented on #38
I'm glad to hear it worked (sort of) and frankly, I'm surprised that the tool was able to handle the sheer volume of data. I erred on the side of caution on the rate limit accommodations, which is why it takes so long. I wonder if your IP address got flagged on Clockify's servers :).

Let me know if there's anything else I can help with. I'll keep this issue open for now because it's related to th

[2020-04-27 18:37] Uniquark commented on #38
Thanks for the followup, Mike. I'll post an update when I get back to this project.

I don't mind the time it takes. I like that I can just set it running and come back to it sometime later to see how it is going. For what it's worth, it would be nice to have a bit more progress indication. The actually transfer process is very nice with the count completed and total to transfer and the thermomete

[2020-05-03 01:53] Uniquark commented on #38
Ok, I'm back. The tool definitely handles the volume of data just fine, as long as I use Chrome. I have not gone back to Safari since I discovered that difference. It also definitely can handle more than one user for a workspace: It transferred both my and my wife's times just fine. However, I have not been able to get it to transfer my granddaughter's time entries. Each time I ask it to fetch her

[2020-05-05 18:32] mikerourke commented on #38
Hi @Uniquark, I apologize for the delayed response. I would imagine if you're using the API key associated with your granddaughter's account, you should see her projects. I suspect the issue is related to having multiple users/admins, but I won't know more until I start adding the multi-user transfer feature. At this point, I can just speculate. I'll update the issue when I know more.

[2020-05-05 19:15] Uniquark commented on #38
Hi Mike. I understand about delayed responses. I actually love asynchronous communication. It lets me work when I'm ready and other work when they are ready. I look forward to hearing when you have added multiuser transfers. For now, I am at a dead end. I have no other ideas on how to get those times transferred, so we will just get by without them. Fortunately, I was able to transfer the importan

[2020-09-14 14:40] absolut-ly opened #39 "Time Entries transferred do not have Projects associated"
I have tested this a few times. The Projects list is transferred, the time entries are transferred. Each time entry is correctly named and tagged but lacks the associated project.

Two thoughts:
1) Toggl rebranded, so Toggle Track might have altered the API (but kept the same API token).
2) Clockify API has changed; OR this is not available on the free version related to batch edit restrictions.

[2020-09-16 17:28] mikerourke commented on #39
I'll take a look at the API. I wasn't aware of the changes. Are you transferring a personal account, or were you trying to transfer entries from multiple users?

[2020-09-16 18:15] castle-samj commented on #39
Mike,
Both ends are personal accounts and only one user per account. The Toggl rebranding (9/7/2020) was to include more products, so now it is Toggl Track (along with Toggl Plan and Toggl Hire). The issues might be on their end, as their website wasn't fully updated to reflect this change and was giving a lot of 404 errors while simply browsing the site.
At this point, I have already manually cha

[2020-09-16 18:20] mikerourke commented on #39
So I just spun the app up locally and tested a transfer from Toggl -> Clockify without any issues, but I'll try doing the same thing through the production site. This isn't the first time I've run into this issue and I've never been able to reproduce it ☹️. The Clockify API has been incrementally moving to a new version, so it's probably a good time to review which API calls I can update. Hopefull

[2020-09-16 18:23] castle-samj commented on #39
Mike,
OK, sounds good. Let me know if you need/want a retest from my end. Thanks.
-Sam

[2020-10-27 06:48] TheSpyder opened #40 "400 error transferring to Clockify"
I just imported some spreadsheet data into a brand new Toggl account, the time entries have no project or description. I've been using Clockify for about a month and decided to try importing via Toggl rather than wait for Clockify to finish their import feature.

When attempting to transfer time entries it triggers a 400 error from clockify (the page reports transfer complete but there's a 400 err

[2020-10-27 19:14] mikerourke commented on #40
I’ll take a look. There may have been changes to the Clockify API that I’m not aware of. Let me do some digging and get back to you.

[2020-10-29 18:13] mikerourke commented on #40
@TheSpyder just to give you an update, it's a busy week at work so I won't be able to troubleshoot the issue until this weekend. I'll let you know as soon as I find anything. I apologize for the delay.

[2020-10-29 22:54] TheSpyder commented on #40
Thanks for letting me know! There's no rush, I'm just using it as a convenient way to import data into Clockify without learning the API myself 😂

[2020-11-08 23:34] mikerourke commented on #40
@TheSpyder I apologize for getting back to you so late. It's been a...let's say "tense" week in the US. I was able to create a time entry on Clockify matching your payload, but after re-reading your issue, I noticed that the Request URL (`https://api.clockify.me/api/v1/workspaces//time-entries`) is missing a workspace ID between `workspaces/` and `/time-entries`). Did you create a workspace on Clo

[2020-11-09 00:12] TheSpyder commented on #40
Oh I forgot to put backticks around the URL! Sorry, I replaced the workspace ID with what github interpreted as a HTML tag figuring it might be private information. I've corrected the description.

I'll give it another go today and let you know.

[2020-11-09 00:26] mikerourke commented on #40
Thanks! I'm going through and updating the Clockify API calls now. They were transitioning from an older API to a new one and it looks like they completely deprecated the old API. They removed the ability to create workspaces, so it looks like they need to be created now before even using the transfer tool. I'm testing out transfers now to make sure I didn't break anything, so I'm hoping I don't r

[2020-11-09 00:57] TheSpyder commented on #40
In the time since logging this issue I've had a bit more experience with fetch, so I know that if things aren't perfect the browser generally ignores any response text.

Thanks to copy as curl, I can tell you the actual error returned by the API is
`{"message":"Time entry couldn't be created. Project is either required field or given project is archived. Please change your input or update your wor

[2020-11-09 01:07] TheSpyder commented on #40
Interesting, based on that error I bulk edited my toggl time entries to use a project with the same name as the project I've created in clockify.

Now the import tool thinks all of my time entries have already been imported. They don't have a task or description, and the only time entries that exist in clockify are for later days than the toggl entries.

[2020-11-09 14:53] mikerourke commented on #40
Could you try using my transfer tool to bulk-delete your Toggl data and import them again? I pushed an update last night that addressed the Clockify API deprecation. I'm wondering if a payload or endpoint changed and I missed it. I might just go through everything again with a fine tooth comb.

[2020-11-11 07:40] TheSpyder commented on #40
Unfortunately it's given me the same error. As before I tried both fresh data with no project, which failed, and I confirmed the response error message was the same. I then bulk-edited the Toggl entries to give them a project matching the name of my Clockify project. All that did was make the tool think every time entry had already been imported (even though no Clockify time entry exists on those

[2020-11-11 08:51] TheSpyder commented on #40
I started reading the clockify api docs and comparing what's returned in the chrome network traces from your API calls. Looking at my `/workspaces` response, it has `"forceProjects":true`. That probably explains the error! I have no idea how that flag was set, I can't see anything in my workspace settings.

So now the question is why when I set a project in Toggl does the app mark all existing ent

[2020-11-11 18:05] mikerourke commented on #40
Good catch! I didn't even know about that `forceProjects` setting. In terms of next steps, could you send me the CSV that you imported into Toggl? You can delete like all but 3 entries and change/remove any sensitive data. I'd prefer to try doing the exact same thing you tried to see if I can reproduce the error in my test accounts. The time entry duplication check is _not_ very reliable, so I'm n

[2020-11-11 23:07] TheSpyder commented on #40
The data is quite simple, here's a weeks worth with the email removed:
[Toggl Import.csv.zip](https://github.com/mikerourke/transfermyti.me/files/5527239/Toggl.Import.csv.zip)

I can't delete everything from clockify, it contains my current data, I'm just trying to import time entries from the manual spreadsheet system I used before. I could perhaps create a new workspace to test with? I guess I c

[2020-11-12 01:53] mikerourke commented on #40
You can test it out with a different workspace to make sure it works, but you can't move time entries between workspaces (to my knowledge), so that won't fix your problem. If you have a bunch of Clockify data already, the app lets you pick and choose what you want to delete, so you don't have to start from scratch. You can always hedge your bets and transfer your Clockify data to Toggl, but I deli

[2020-11-12 01:57] TheSpyder commented on #40
Waiting for the override sounds like the easiest solution for me.

I am in no rush at all to import this data, it's safe in my spreadsheet and I won't need to generate a report based on it until next year, but I've pretty much given up on waiting for Clockify to implement import themselves 😅

[2020-11-12 22:04] mikerourke commented on #40
I'll keep you posted. Thanks for your patience!

[2020-11-12 23:49] TheSpyder commented on #40
On a hunch, I created a test clockify workspace, confirmed that I could import all toggl entries into it, then wiped it and created a single time entry in clockify. _This reproduced the issue where all entries were marked as already imported_.

I don't want to go spelunking through your code but my guess is it's related to timezones. I'm in GMT+10, which I have set in both apps, but looking at the

[2020-11-13 00:20] mikerourke commented on #40
I looked through my code and it looks like I'm creating `Date` objects from both values before comparing them, so those times should match. I'll definitely validate this while I'm working on the duplication check toggle. I think I might run into issues with all entries being marked as duplicated though. Right now, I'm looping through each source time entry, and within that loop, I'm looping throug

[2020-11-13 00:34] TheSpyder commented on #40
Quite a lot of my entries have the same start time (the toggl data is overly simplified due to how I set up my spreadsheet, it's only one block of time per day) but none of them have the same start _date_.

Another data point: I wiped the test clockify workspace, imported a single time entry (the one I posted above) and when I re-ran the tool it marked all toggl data as duplicate. You're right, `n

[2020-11-13 18:31] mikerourke commented on #40
That is very strange. I ended up having to work late yesterday so I didn't put as much of a dent in the duplication check toggle as I wanted. I'm going to hedge my bets here and say it'll be ready to go by Monday. It would be cool if I stumbled across the duplication bug by accident and was able to fix it at the same time, but I'm skeptical about that actually happening. I'll let when toggle featu

[2020-11-14 03:13] mikerourke commented on #40
@TheSpyder, heads up, I was able to knock that duplication check toggle out tonight. I wasn't able to track down what was causing the check bug, but at least you can manually disable it for now. Give it a whirl and let me know if you have any issues.

[2020-11-14 03:18] TheSpyder commented on #40
Awesome, thank you! I won’t have time until my evening but I will let you know.

[2020-11-16 04:24] TheSpyder commented on #40
That worked 🎉

I was fiddling around with the data and interestingly when I set my Toggl data to have a project suddenly the duplication check on my "test" workspace operated correctly; it was only data without a project that it marked as duplicate. I took a quick poke around the data returned by the Toggl API and the only difference I could see was that `pid` was `null` in the Toggl data that inc

[2020-11-16 04:24] #40 closed

[2020-11-16 17:23] mikerourke commented on #40
I'm glad you were able to get your data transferred. Thanks for working with me on this. I think that duplication check toggle was long overdue. Also, thank you so much for the coffee!!!

[2021-04-19 14:19] gravytrainhub commented on #38
@mikerourke could you have a look at this 6 seconds video: https://drive.google.com/file/d/1itVwhb8m2OVW1Ng9pk5ts9GVdxEjsY7V/view?usp=sharing

It stops after few projects (this is from my toggl account to my clockify account). What to do?

[2021-04-19 15:50] mikerourke commented on #38
@gravytrainhub It's hard to diagnose the issue just from seeing `400` errors. I can try testing it out on my end to see if anything has changed in either tool.

Could you please answer the following questions to narrow down my troubleshooting?
1. Are you trying to transfer data from a multi-user account, or is it a personal account with a single user?
2. Do you have any time entries that aren't as

[2021-04-29 06:30] gravytrainhub commented on #38
Tnx for your answer, Sorry I did only see it after 10 days..

1. My account is the 'superadmin' of multiple users (in a multiple-user business account), but I only transfer from my own personal account with my own API token.
2. no
3. yes
4. yes

I have managed to transfer almost everything in multiple sessions, but a few 100 entries still don't transfer. Maybe your server has limits as to how many

[2021-04-29 06:42] gravytrainhub commented on #38
@mikerourke I tried again after removing every cookie or local data I could find from your transfermyti.me website. And it worked. The last remaining 313 entries where transfered succesfully.

[2021-04-29 16:46] mikerourke commented on #38
@gravytrainhub That's good to hear! I'm not running any server (the app is just grabbing data from Toggl and making API requests to Clockify), so I suspect Clockify's servers can't keep up with a high volume of updates. I'm glad you were able to transfer the rest of your data. Let me know if you have any more issues or questions.

[2021-12-01 20:31] sjohn92 opened #46 "Unable to sync from toggle to clockify"
Unable to sync from toggle to clockify. It fetches from toggl, but gives and error from clockify immediately after start.

[2021-12-02 02:56] mikerourke commented on #46
@sjohn92 It looks like Clockify made some changes to their API (I can’t delete a project now until I archive it first). I’ll do some digging over the next couple of days and fix the breaking changes. I’ll ping you when the fixes are deployed. Sorry about that!

[2021-12-08 00:26] mikerourke commented on #46
Hey @sjohn92, quick update: last week/weekend was kind of bananas so I didn't get a chance to look into this issue. I'm going to try knocking it out this week. I apologize for the delay.

[2021-12-11 20:13] mikerourke commented on #46
@sjohn92 I just fixed the issue with being unable to delete a Clockify project, but I didn't run into any other errors. I just upgraded the dependencies and released a new version. Before any release, I transfer data between test accounts to verify that everything is working correctly. Here's the full process:

1. Transfer a bunch of data from a test Toggl account to a test Clockify account
2. Del

[2021-12-12 00:10] sjohn92 commented on #46
Hello Mike,
Thanks a lot for checking this. I'm using a personal account and trying to transfer time entries from toggl to clockify which used to work before without any issues. Please find below my answers for your queries.
1. Are you transferring tasks? I'm not able to test task transfer because it's a paid feature on Toggl.
No, I'm transferring only time entries
2. Are you the only user on your

[2021-12-12 18:33] mikerourke commented on #46
@sjohn92 I'm guessing there's an issue with the data, which is a little harder to troubleshoot without being able to see it. Just to give you some insights on how the tool works, it:

1. Pulls all of the projects, tags, clients, time entries, etc. from Toggl
2. Pulls all of the same entities from Clockify
3. Converts the data from both sources into records with the same field names (i.e. a Toggl t

[2021-12-13 00:43] sjohn92 commented on #46
Hi Mike,
I deleted all entries from clockify and tried to transfer again and I'm still getting the same error. I was able to delete all entries from Clockify though. I'm using free version of both Toggl and Clockify, I'm not sure if it's a new change from Clockify, I saw something like this at https://clockify.me/toggl-importer that for importing time entries, you may need a paid subscription. I w

[2021-12-13 03:59] mikerourke commented on #46
@sjohn92 Are you only transferring time entries, or are you also transferring projects?

[2022-02-18 16:32] #24 closed

[2022-02-18 16:32] #38 closed

[2022-03-17 21:40] mikerourke opened #48 "Consolidate Testing Functions to `jestUtilities.ts`"

[2022-03-17 21:40] mikerourke opened #49 "Remove Google Analytics"

[2022-03-17 21:40] mikerourke opened #50 "Remove `Model` Suffix from Type Names"

[2022-03-17 21:41] mikerourke opened #51 "Switch to pnpm"

[2022-03-17 21:41] mikerourke opened #52 "Convert from React to Svelte"

[2022-03-17 21:41] mikerourke opened #53 "Restructure Directories"
Restructure `/src` and `/scripts` directory.

[2022-03-17 21:41] mikerourke opened #54 "Rename Redux Actions"
Switch from `SCREAMING_SNAKE_CASE` to `camelCase` and use "event" naming convention.

[2022-03-20 20:58] mikerourke opened #55 "Switch to Webpack"

[2022-03-20 21:05] mikerourke opened #56 "Consolidate Type Definitions"

[2022-03-20 21:27] mikerourke opened #57 "Add Stylelint"

[2022-03-20 22:11] mikerourke opened #58 "Cleanup and Refactor Scripts"
## Tasks

- [x] Replace `fs-extra` with Node.js APIs
- [x] Replace `lodash-es` with JavaScript
- [x] Remove `picocolors` and use `TaskRunner`
- [x] Remove `promise-throttle` with manual delays

[2022-03-20 22:53] #53 closed

[2022-03-20 22:57] mikerourke opened #60 "Convert Style Objects to CSS Strings"

[2022-03-21 19:52] #57 closed

[2022-03-21 19:52] #60 closed

[2022-03-21 22:19] #55 closed

[2022-03-21 22:47] #51 closed

[2022-03-21 22:47] #49 closed

[2022-03-21 22:47] mikerourke opened #64 "Remove `whatwg-fetch` and `fetch-intercept` Dependencies"

[2022-03-21 22:48] mikerourke opened #65 "Remove `store` Dependency and Refactor Credentials Storage"

[2022-03-21 22:48] mikerourke opened #66 "Replace `dotenv` with Arguments"

[2022-03-21 22:48] mikerourke opened #67 "Replace `cuid` with UUID"

[2022-03-21 22:48] mikerourke opened #68 "Replace `qs` Dependency with Web API"

[2022-03-22 00:12] #64 closed

[2022-03-22 00:12] #65 closed

[2022-03-26 23:41] #52 closed

[2022-03-27 18:10] #50 closed

[2022-03-27 18:10] #56 closed

[2022-03-27 20:28] mikerourke opened #72 "Update Ramda Imports"
Instead of using `import * as R from "ramda";`, destructure to use only required imports.

[2022-03-27 20:35] #54 closed

[2022-03-27 23:01] #72 closed

[2022-05-13 19:02] #48 closed

[2022-06-26 08:20] amirblum opened #76 "Limit time entries to those associated with selected projects"
Hey Mike, great tool :)

This is a feature request  - I'm trying to transfer data from one Toggl workspace to multiple Clockify workspaces, by running the tool once-per-workspace and selecting the clients and projects I want for that workspace.

The issue is that there's no way to limit the tool to only transfer entries associated with the projects I am transferring.

My solution for now is to imp

[2022-06-28 16:37] mikerourke commented on #76
Hi @amirblum, I apologize for the delayed response. It shouldn't be too hard to add that in, and it's a great idea! I'll move this one to the top of the list. I'm a little strapped for time right now, but I should be have some bandwidth to work on it in a couple of weeks. I'll let you know when it's ready.

[2022-06-29 10:54] amirblum commented on #76
No worries about the response - your time is highly valued and I appreciate that you would even take a feature request!

I have already imported all my entries, so currently a way to bulk-delete all time entries without an assigned project would be most helpful. That being said, I do have colleagues who are also looking to move using your tool, so I'm sure more specific selection during transfer o

[2022-07-17 21:05] #58 closed

[2022-07-17 21:50] mikerourke commented on #68
Closing this because `qs` is a small dependency and not worth the effort.

[2022-07-17 21:50] #68 closed

[2022-07-17 21:51] mikerourke commented on #67
Closing without implementing, since `cuid` is a small library and `window.crypto.getRandomUUID` may not be supported.

[2022-07-17 21:51] #67 closed

[2022-07-17 23:13] #66 closed

[2022-07-17 23:26] mikerourke opened #80 "Convert Toggl API (v8) to Toggl Track API (v9)"
The v8 version of the API has been deprecated. The API calls will need to be updated to point to the new API version.

[2022-07-28 16:16] #80 closed